border-1px($position, $color)
  position: relative
  if $position == 'bottom'
    &:after
      display: block
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      border-top: 1px solid $color
      content: ' '
  else if $position == 'top'
    &:before
      display: block
      position: absolute
      left: 0
      top: 0
      width: 100%
      border-top: 1px solid $color
      content: ' '